body {
    font-family: "Arial"
}

.nodetext {
    font-size: 2pt;
    font-family: "Arial";
}

.nodegrouptext {
    font-size: 0.5pt;
    font-family: "Arial";
}

.edgetext {
    font-size: 2pt;
    font-family: "Arial";
}

.highlight {
    stroke: gold;
    stroke-width: 0.1px;
}

.highlight-matrix {
    fill: gold;
}

.fade-matrix {
    fill: color-mix(in srgb, #ffffff, currentColor 30%);
}

.fade-matrix-nodes {
    opacity: 0.3;
}

.fade-nodelink-node {
    opacity: 0.5;
}

.fade-nodelink-link {
    stroke: color-mix(in srgb, #ffffff50, currentColor 30%);
}

.fade-biofabric {
    opacity: 0.15;
}

.fade-biofabric-light {
    opacity: 0.3;
}

.highlight-biofabric {
    stroke: gold;
    stroke-width: 0.2px;
}